!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #topSection {
            max-width: 100vw;
            width: 100%;
            height: 100vh;
            min-height: 100vh;
        }
        #topSection {}
        #topSection {}
        #topSection {}
        #topSection {}
        #topSection {}
        #topSection {}
        #topSection {}
    </style>
</head>
<body>
    
    <section id="topSection">
        <div class="content wraper">
            <h1>it's all about your finance</h1>
            <h2>coming soon …</h2>
            <a href="#">
                <div class="outlineButton">
                    <p>try to create together</p>
                </div>
            </a>
        </div>
    </section><!-- #topSection  -->

</body>
</html>